html, body {
  padding:0;
  margin:0;
  height:100%
}

header {
   position:fixed;
   background: black;
   height:100px;
   top:0;
   left:0;
   right:0;
}

footer {
   position:fixed;
   background: black;
   height:50px;
   bottom:0;
   left:0;
   right:0;
}

section {
   padding:100px 0 50px 0;
}

body{
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-position: center;
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h2{
  box-shadow: 6px 6px 6px black;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.centre {
  text-align: center;
  color: black;
}

ul, p{
  font-size: 20px;
  color: #EFF0FF;
}
